@mixin interactive-list-item {
  cursor: pointer;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--interactive-hover-color) !important;
    }
  }

  &:active {
    background-color: var(--interactive-active-color) !important;
  }
}
